/* Core overides */

html {
  box-sizing: border-box;
  font-size: 16px;
  color: #222;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  line-height: 1.5;
}

textarea {
  height: 3.25em;
  max-width: 100%;
}

/* Layout */

.table td input {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 768px;
}

.grid {
  margin-left: -1rem;
  margin-right: -1rem;
}

.grid > .grid-col {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Clearfix */

.grid:after,
.grid > .grid-col:before,
.grid > .grid-col:after {
  content: " ";
  display: table;
}

.grid:after,
.grid > .grid-col:after {
  clear: both;
}

@media (min-width: 768px) {
  .grid > .grid-col:first-child {
    float: left;
    width: calc(40% - 2rem);
  }

  .grid > .grid-col:last-child {
    float: left;
    width: calc(60% - 2rem);
  }
}

/* Components */

.account-forms,
.signedin-message {
  display: none;
}

[data-account-state='signed-out'] .account-forms {
  display: block;
}

[data-account-state='signed-in'] .signedin-message {
  display: block;
}

.main-title {
  margin: 0;
  background-color: #333;
  color: #fff;
  font-size: 3em;
  line-height: 1em;
}

.form-input {
  padding: 1rem;
}

.form-label {
  display: inline-block;
  font-weight: bold;
}

[data-show] form {
  display: none;
}

[data-show='signin'] .form-signin,
[data-show='signup'] .form-signup {
  display: block;
}

.signedin-message p {
  margin: 0;
}

.signup-toggle,
.signin-toggle {
  font-size: .8em;
}

.signup-toggle {
  text-align: center;
}

.signup-toggle a {
  text-decoration: none;
  color: #659D32;
  background-color: transparent;
  font-weight: bold;
  border: 2px solid #659D32;
}

.signup-btn {
  border-bottom: 1px solid #333;
}

.btn {
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
  background: #CCC;
  border: none;
}

.btn + .btn-small {
  margin-left: .5rem;
}

.form-label-small,
.form-input-small,
.btn-small {
  font-size: .8rem;
}

.form-input-small,
.btn-small {
  padding: .5rem;
}

.form-label,
.form-input,
.textarea,
.table {
  width: 100%;
}

.form-input,
.table {
  border: 1px solid #aaa;
}

.table th:first-child{
  width: 20%;
}

.btn:focus,
.form-input:focus {
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 0 2px #222;
}

.btn-signup,
.btn-login {
  font-weight: bold;
  padding: 10px 25px;
}

/* Clearfix */
.form:before,
.form:after {
  content: " ";
  display: table;
}
.form:after {
  clear: both;
}

@media (min-width: 768px) {
  .form-inline .form-label,
  .form-inline .form-input {
    display: inline-block;
    width: auto;
  }

  .form-inline .form-input-small {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .form-inline .form-label-small {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
  }
}

.table {
  border: 1px solid #aaa;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th:first-child,
.table td:first-child {
  padding: 1rem;
}

.table td {
  border: 1px solid #aaa;
}

/* Utils */

.fs {
  font-size: .8em;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.dib {
  display: inline-block;
}

.mbm {
  margin-bottom: 1rem;
}

.mbl {
  margin-bottom: 2rem;
}

.mtbs {
  margin: .5rem 0;
}

.pm {
  padding: 1rem;
}

.prls {
  padding: 0 .5rem;
}

.pts {
  padding-top: .5rem;
}

.pbs {
  padding-bottom: .5rem;
}

.pbm {
  padding-bottom: 1rem;
}

.ptbs {
  padding: .5rem 0;
}

.prlm {
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .full-width-small {
    width: 100%;
  }
}
