/* Core overides */

html {
  box-sizing: border-box;
  font-size: 16px;
  color: #222;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Helvetica;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #e94e1b;
}

a.active {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

h1, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  line-height: 1.5;
}

textarea {
  height: 3.25em;
  max-width: 100%;
}

/* Layout */

.table td input {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
}

/* Components */

.signedin-message {
  display: none;
}

[data-account-state='signed-out'] .account-login,
[data-account-state='signed-out'] .password-reset {
  display: block;
}

[data-account-state='signed-in'] .account-settings {
  display: block;
}

[data-account-state='signed-in'] .signedin-message {
  display: inline-block;
}

[data-account-state='signed-in'] .account-login,
[data-account-state='signed-in'] .login-signup-link {
  display: none;
}

.main-header {
  padding: 15px 0 35px;
}

.main-header:after {
  content: '';
  display: block;
  clear: both;
}

.main-header ul {
  list-style-type: none;
  float: right;
  margin: 0;
}

.main-header ul li {
  display: inline-block;
}

.main-header ul li a {
  margin-left: 10px;
}

.main-title {
  float: left;
  margin: 0;
  font-size: 2em;
  line-height: 1em;
}

.account-settings {
  display: none;
}

.tracker-input {
  border-bottom: 1px solid #333;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

.tracker-input:after {
  content: '';
  display: block;
  clear: both;
}

.tracker-input .tracker-amount,
.tracker-input .tracker-item,
.tracker-input .btn {
  width: 100%;
}

.tracker-input input {
  margin-bottom: 20px;
}

.tracker-input label {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .tracker-input {
    padding-bottom: 5px;
  }

  .tracker-input .tracker-amount {
    width: 16%;
    float: left;
  }

  .tracker-input .tracker-item {
    width: 60%;
    float: left;
    margin: 0 2%;
  }

  .tracker-input .btn {
    width: 20%;
    float: left;
    position: absolute;
    bottom: 25px;
    height: 50px;
  }
}

.form-input {
  padding: 1rem;
  height: 50px;
}

.form-label {
  display: inline-block;
  font-weight: bold;
}

[data-show] form {
  display: none;
}

.form-label,
.form-input {
  display: block;
  margin-bottom: 8px;
}

.form-label-small,
.form-input-small,
.btn-small {
  font-size: .8rem;
}

.form-input-small,
.btn-small {
  padding: .5rem;
}

.form-label,
.form-input,
.textarea,
.table {
  width: 100%;
}

.form .return-link {
  display: block;
  margin-bottom: 15px;
}

[data-show='signin'] .form-signin,
[data-show='signup'] .form-signup,
[data-show='signin'] .form-password-reset {
  display: block;
}

.signedin-message p {
  margin: 0;
}

.signup-toggle,
.signin-toggle {
  font-size: .8em;
}

.signup-link {
  text-align: center;
  border: 1px solid #e94e1b;
  border-radius: 5px;
  padding: 10px;
}

.signup-link h3 {
  display: inline-block;
}

.signup-toggle {
  text-align: center;
  color: #333;
}

.signup-toggle:hover {
  text-decoration: none
}

.signout-container {
  border-top: 1px solid #999;
  margin: 25px 0;
  padding: 15px 0;
  text-align: right;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  background: #CCC;
  color: #000;
  padding: 15px;
  border: none;
}

.btn:hover {
  text-decoration: none;
}

.btn + .btn-small {
  margin-left: .5rem;
}

.btn.btn-save {
  background-color: #e94e1b;
  color: #fff;
}

.btn.choice {
  display: block;
  border: 2px solid #333;
  color: #333;
  background: transparent;
  text-align: left;
  width: 300px;
  position: relative;
}

.btn.choice::after {
  content: '►';
  position: absolute;
  right: 15px;
}
.btn.choice:hover {
  border: 2px solid #e94e1b;
  color: #e94e1b;
}

.btn.choice:not(:last-child) {
  margin-bottom: 8px;
}

.form-input,
.table {
  border: 1px solid #aaa;
}

.table th:first-child{
  width: 20%;
}

.btn:focus,
.form-input:focus {
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 0 2px #e94e1b;;
}

/* Clearfix */

.form:before,
.form:after {
  content: " ";
  display: table;
}
.form:after {
  clear: both;
}

@media (min-width: 768px) {
  .account-forms .form-input {
    width: 300px;
  }
}

.table {
  border: 1px solid #aaa;
  margin-bottom: 15px;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th:first-child,
.table td:first-child {
  padding: 1rem;
}

.table td {
  border: 1px solid #aaa;
}

.table tr td:first-child {
  width: 100px;
}

.table tr td:nth-child(2) {
  width: 300px;
}

/* Utils */

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

@media (max-width: 768px) {
  .full-width-small {
    width: 100%;
  }
}
